body {
    background-image: url('../../public/img/background.png');
    background-repeat: repeat-x;
    background-position: fixed;
    background-attachment: fixed;
}

div#root {
    max-width: 1200px;
    margin: 0 auto;
}

div#main-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 120px 20px;
    box-sizing: border-box;
}

div#booking-details {
    width: 40%;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
}

.sort-options {
    width: calc(25% - 20px);
}

.bundle-list {
    width: calc(75% - 20px);
}

.bundle-card {
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
}

.bundle-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.booking-info p {
    font-size: 0.9em;
    margin: 2px;
}

.hotel-info h2 {
    margin: 0;
    font-size: 1.2em;
}

p.location {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 10px;
}

.rating {
    color: orange;
}

.book-now-btn {
    background-color: #fedc07;
    color: #18327f;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    display: block;
    transition: all 0.5s ease-in-out;
}

.book-now-btn:hover {
    background-color: #18327f;
    color: #fedc07;
}

.book-now-btn span {
    display: block;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
}

.bundle-image img {
    width: 100%;
    height: auto;
    margin: 0 0 -4px 0;
}

.bundle-tab {
    position: absolute;
    top: 237px;
    left: 0;
    background-color: #fff;
    color: blue;
    padding: 0 10px;
    border-top-right-radius: 5px;
    cursor: pointer;
    width: 217px;
    height: 40px;
}

.bundle-tab p {
    margin: 9px;
    color: #18327f;
}

.bundle-overview {
    margin-top: 10px;
    background-color: #fff;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    font-size: 0.8em;
}

.bundle-overview h3 {
    color: #18327f;
}

.sort-option {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 6px;
    color: #18327f;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    position: relative;
}

.sort-option:hover,
.sort-option.active {
    background-color: #18327f;
    color: #fff;
}

.sort-option i {
    position: absolute;
    right: 20px;
    font-size: 1.6em;
}


/* Font Awesome icons */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");